<h1>Your Word List</h1>
<h3>Hover over the word for your definition!</h3>

<table id="words">
  <tr>
    <th>Word</th>
    <th>Added on</th>
    <th>Actions</th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td class="entry">
      <a href="#" rel="popover" data-content="<%= entry.definition %>" data-original-title="<%= entry.name%>">
        <h5><%= entry.name %></h5>
      </a>
    </td>

    <td>
      <%= entry.created_at %>
    </td>

    <td>
      <%= link_to 'Edit', edit_entry_path(entry), class: "btn info small" %>
      <%= link_to 'Delete', entry, class: "btn danger small", confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_entry_path, class: "btn large" %>
