<p id="notice"><%= notice %></p>


<h3><%= @entry.name %></h3>


<blockquote>
  <%=raw sanitize(simple_format(@entry.definition), :tags => %w(br p) ) %>
</blockquote>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
